
# 12MHz clock from FTDI FT2232H.
LOCATE COMP "CLK" SITE "A10";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;


# 50 MHz clock from X5 right next to Lattice part.
#LOCATE COMP "CLK50" SITE "B11";
#IOBUF PORT "CLK50" IO_TYPE=LVCMOS33;
#
#LOCATE COMP "CLK50_ENABLE" SITE "C11";
#IOBUF PORT "CLK50_ENABLE" IO_TYPE=LVCMOS33;


LOCATE COMP "led[0]" SITE "A13";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[1]" SITE "A12";
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[2]" SITE "B19";
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[3]" SITE "A18";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[4]" SITE "B18";
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[5]" SITE "C17";
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[6]" SITE "A17";
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[7]" SITE "B17";
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;


LOCATE COMP "RX" SITE "K4";
IOBUF PORT "RX" IO_TYPE=LVCMOS33;

LOCATE COMP "TX" SITE "P1";
IOBUF PORT "TX" IO_TYPE=LVCMOS33;


LOCATE COMP "J1_3" SITE "L2";
IOBUF PORT "J1_3" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_4" SITE "N2";
IOBUF PORT "J1_4" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_5" SITE "L3";
IOBUF PORT "J1_5" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_6" SITE "M5";
IOBUF PORT "J1_6" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_7" SITE "K5";
IOBUF PORT "J1_7" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_8" SITE "N3";
IOBUF PORT "J1_8" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_9" SITE "N4";
IOBUF PORT "J1_9" IO_TYPE=LVCMOS33;

LOCATE COMP "J1_10" SITE "M4";
IOBUF PORT "J1_10" IO_TYPE=LVCMOS33;
